/* Styles for all elements and the container div */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #d6d3d1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}


/* Styles for the header */

#header {
    grid-column: 1/11;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    background-color: #1d4ed8;
    color: #f1f5f9;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.icons {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#header > .top-container {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-areas: "search search search search search search search notIcon userDash userDash";
}

.search-bar {
    grid-area: search;
}

#search-bar-input {
    width: 70%;
    height: 25px;
    border-radius: 5px;
}

.notification-icon {
    grid-area: notIcon;
}

.user-dashboard {
    grid-area: userDash;
    display: flex;
    align-items: center;
}

#user-dash-icon {
    width: 25px;
    height: 25px;
}

#header > .navbar {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-areas: "welcomeUser welcomeUser welcomeUser welcomeUser welcomeUser welcomeUser welcomeUser btn btn btn";
}

.welcome-user {
    grid-area: welcomeUser;
    display: flex;
}

.buttons {
    grid-area: btn;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons > .button {
    flex-grow: 1;
    height: 25px;
    border-radius: 15px;
    background-color: #f5f5f5;
    margin: 5px;
}


/* Styles for the aside element */

#sidebar {
    grid-column: 1/2;
    grid-row: 2/11;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    background-color: #cbd5e1;
    color: #334155;   
}

#logo {
    grid-row: 1/2;
    display: flex;
    align-items: center;
}

#links-container {
    grid-row: 2/10;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.links {
    display: flex;
    align-items: center;
}

#functionalities {
    display: grid;
    grid-template-rows: repeat(6, 40px);
}

#configuration {
    display: grid;
    grid-template-rows: repeat(3, 40px);
}

.sb-img {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #334155;
}

/* Styles for the Dashboard */

#dashboard {
    grid-column: 2/11;
    grid-row: 2/11;
    position: relative;
}

#cards {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
}

.card-container {
    width: 400px;
    height: 150px;
    background-color: #f1f5f9;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.orange-bar {
    background-color: #f97316;
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    border-radius: 10px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#announcements {
    background-color: #f1f5f9;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 300px;
    height: 170px;
    position: absolute;
    top: 8px;
    right: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}